h1
  | About Us
.about-pics
  = image_tag "imp1.jpg", class: "imp-pics"
  = image_tag "imp2.jpg", class: "imp-pics"
br
p.about-us
  |  The IMP Store was created by the IMP Squad; which consists of Isabella, Malia and Pixie. The three of us live in West Seattle and have become besties. We offer mostly homemade products to showcase how creative we are. This website and these products are 100% the ideas of the IMP squad. 
