<div data-turbolinks="false">

  <div class="center jumbotron">
    <h1>Welcome to IMP Store</h1>
  </div>

  <h1>Products</h1>

  <div class="products">
    <div class="product-images">
      <% @products.each do |product| %>
          <a href="#" onclick='showModal(<%="#{product.to_json}"%>)'><%= image_tag "#{product[:image]}", width: "15%", height: "15%"%></a>
      <% end %>
        </div>

    <div id="product-modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="removeModal()">&times;</span>
        <p class="product-description">product description placeholder</p>
      </div>
    </div>
    <%= javascript_include_tag "productModal.js" %>
  </div>

</div>
