<div class="center jumbotron">
  <h1>Cross-Reference Reporting Tables</h1>

  <h2>
    This is the home page for the Data team's cross-reference reporting tables
  </h2>

  <%= link_to "Product Names", products_path, class: "btn btn-link btn-lg" %>
</div>

