.center.jumbotron
  h1
    | Welcome to IMP Store
h1
  | Products
.products
  .product-images
    = image_tag "rubber_band_pack.jpg", style: "height:15%; width:15%;margin-inline:5%;"
    = image_tag "slim_kits.jpg", style: "height:15%; width:15%;margin-inline:5%;"
    = image_tag "craft_kits.jpg", style: "height:15%; width:15%;margin-inline:5%;"
  .product-descriptions
    span
      | rubber band pack price: $3.50
    span
      | slim kits price: $6.50
    span
      | craft kits price: $6.50
